@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* -------------------------------------------------- Common css codes */
.uppercase {
    text-transform: uppercase;
}

/* -------------------------------------------------- Root Variables*/
:root {
    --PT: 'PT Sans Caption', sans-serif;
    /* font-family: var(--PT); */
    --red: #FF4C29;
    /* color: var(--red); */
    --navy: #14274E;
    /* color: var(--navy); */
    --white: #ffffff;
    /* color: var(--white); */
}

/* ---------------------------------- body */
body {
    font-family: var(--PT);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------- Nav */
nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    pointer-events: none;
}

nav.active {
    pointer-events: auto;
}

/* ---------------------------------- Nav left */
a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--red);
}

.large {
    font-size: 36px;
    font-family: 400;
}

.small {
    font-size: 12px;
    color: var(--white);
    opacity: 0.7;
    margin-left: 50px;
}

.nav-left {
    position: relative;
    z-index: 10;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--navy);
    transition: 0.8s;
}

.nav-left.active {
    left: 0;
    transition: 0.5s;
}

.nav-left ul {
    position: relative;
    top: 35%;
    left: 10%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}


/* ---------------------------------- Nav-right */
.nav-right {
    position: absolute;
    z-index: 9;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--white);
}

.nav-right.active {
    left: 50%;
    transition: 0.5s;
}

/* ---------------------------------- Nav links */
.nav-link {
    opacity: 0;
    position: relative;
    left: -10%;
}

.nav-link.active {
    opacity: 1;
    transition: 0.5s;
    left: 0;
}

/* ---------------------------------- Conatct */
.contact {
    position: absolute;
    opacity: 0;
    bottom: 10%;
    left: 0;
    pointer-events: none;
}

.contact.active {
    opacity: 1;
    left: 10%;
    transition: 0.5s;
}

.contact .heading {
    color: var(--white);
    margin-left: 50px;
}

/* ---------------------------------- Menu Toggle */
.menu-toggle {
    position: fixed;
    z-index: 9999;
    right: 5%;
    top: 4rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
}

.menu-toggle.active {
    transform: rotate(-180deg);
}

.menu-toggle span {
    background: var(--navy);
    width: 100%;
    height: 5px;
}

.menu-toggle.active span:nth-child(1) {
    position: absolute;
    background: var(--navy);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    position: absolute;
    background: var(--navy);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

/* ---------------------------------- Logo */
.logo {
    position: fixed;
    top: 50px;
    left: 5%;
    z-index: 100;
    color: var(--navy);
    font-size: 48px;
    pointer-events: none;
    transition: 1s;
}

.logo.active {
    color: var(--white);
}

/* ----------------------------------  Banner */
.banner {
    width: 100%;
    height: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}