@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

/* -------------------------------------------------- Common css codes */
.uppercase {
    text-transform: uppercase;
}

.white-section {
    background-color: var(--bgwhite);
}

.green-section {
    background-color: var(--darkgreen);
}

.cream-section {
    background-color: var(--cream);
}

.text-center {
    text-align: var(--center);
}

#alert {
    position: fixed;
    top: 5px;
    margin: auto 50%;
    transform: translateX(-50%);
}

/* -------------------------------------------------- Root Variables*/
:root {
    --Mulish: 'Mulish', sans-serif;
    /* font-family: var(--PT); */
    --lightgreen: #84B4B4;
    /* color: var(--lightgreen); */
    --darkgreen: #043637;
    /* color: var(--darkgreen); */
    --white: #ffffff;
    /* color: var(--white); */
    --bgwhite: #FEF9F3;
    /* color: var(--bgwhite); */
    --cream: #E8B8A4;
    /* color: var(--cream); */
    --peach: #CE6C51;
    /* color: var(--peach); */
    --orange: #FDA951;
    /* color: var(--orange); */
    --pink: #FFDBDC;
    /* color: var(--pink); */
}


/* ---------------------------------- body */
body {
    font-family: var(--Mulish);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 0;
}

/* ---------------------------------- Nav */
nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10;
    pointer-events: none;
}

nav.active {
    pointer-events: auto;
}

/* ---------------------------------- Nav left */
.nav-link a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
}

.nav-link a:hover {
    color: var(--orange);
}

.large {
    font-size: 48px;
}

.small {
    font-size: 12px;
    color: var(--white);
    opacity: 0.7;
    margin-left: 20px;
}

.nav-left {
    position: relative;
    z-index: 10;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--darkgreen);
    transition: 0.8s;
}

.nav-left.active {
    left: 0;
    transition: 0.5s;
}

.nav-left ul {
    position: relative;
    top: 35%;
    left: 10%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

/* ---------------------------------- Nav-right */
.nav-right {
    position: absolute;
    z-index: 9;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--cream);
    opacity: 0.5;
}

.nav-right.active {
    left: 50%;
    transition: 0.5s;
}

/* ---------------------------------- Nav links */
.nav-link {
    opacity: 0;
    position: relative;
    left: -10%;
}

.nav-link.active {
    opacity: 1;
    transition: 0.5s;
    left: 0;
    padding: 0;
}

/* ---------------------------------- Contact */
.contact {
    position: absolute;
    opacity: 0;
    bottom: 10%;
    left: 0;
    pointer-events: none;
}

.contact.active {
    opacity: 1;
    left: 80px;
    transition: 0.5s;
}

.contact .heading {
    color: var(--white);
    font-weight: 700;
    margin-left: 20px;
}

/* ---------------------------------- Menu Toggle */
.menu-toggle {
    position: fixed;
    z-index: 9999;
    right: 5%;
    top: 4rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
}

.menu-toggle.active {
    transform: rotate(-180deg);
}

.menu-toggle span {
    background: var(--darkgreen);
    width: 100%;
    height: 5px;
}

.menu-toggle.active span:nth-child(1) {
    position: absolute;
    background: var(--darkgreen);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    position: absolute;
    background: var(--darkgreen);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

/* ---------------------------------- Logo */
.logo a {
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 100;
    color: var(--darkgreen);
    transition: 1s;
    padding-left: 0;
    text-decoration: none;
}

.logo.active h1 a {
    color: var(--orange);
    position: fixed;
}

.logo h1 {
    font-size: 78px;
    font-weight: 900;
}

/* ----------------------------------  Buttons */

.btn-begin {
    position: relative;
    left: 60px;
    top: 450px;
    background-color: var(--lightgreen);
    border-color: var(--lightgreen);
    border: 0;
    font-size: 24px;
    font-weight: 900;
    border-radius: 0;
    color: var(--darkgreen);
    text-decoration: none;
}


.btn:hover {
    color: var(--white);
    background-color: var(--orange);
}

.btn-testimonial {
    background-color: var(--lightgreen);
    border-color: var(--lightgreen);
    border: 0;
    font-size: 24px;
    font-weight: 900;
    border-radius: 0;
    color: var(--darkgreen);
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn-retreat {
    background-color: var(--lightgreen);
    border-color: var(--lightgreen);
    border: 0;
    font-size: 24px;
    font-weight: 900;
    border-radius: 0;
    color: var(--darkgreen);
    text-decoration: none;
    align-items: center;
    margin-right: 80px;
}


.btn-testimonial:hover,
.btn-retreat:hover {
    color: var(--white);
    background-color: var(--orange);
}

.submit-button {
    background-color: var(--lightgreen);
    color: var(--darkgreen);
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 900;
    border-radius: 0;
}

.submit-button:hover {
    background-color: var(--orange);
    font-weight: 900;
    color: var(--white);
}

/* ----------------------------------  Banner */

.banner img {
    height: 100%;
    width: 100%;
}

.motto {
    position: relative;
    left: 60px;
    top: 400px;
    color: var(--darkgreen);
    font-weight: 700;
}


/* ----------------------------------  Features - About Page */
.features {
    padding: 60px;
}

.features h2 {
    font-weight: 900;
    color: var(--darkgreen);
    padding-bottom: 40px;
}

.icon {
    color: var(--orange);
    font-size: 24px;
    padding-bottom: 15px;
}

.icon:hover {
    color: var(--lightgreen)
}

.feature-title {
    font-size: 24px;
    color: var(--darkgreen);
    font-weight: 700;
}

/* -------------------- Testimonials - About page */

.panel {
    display: flex;
}

.testimonial-heading h2 {
    font-weight: 900;
    color: var(--darkgreen);
    padding-bottom: 40px;
    padding-top: 40px;
}

.testimonial {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    cursor: pointer;
    border-radius: 50px;
    position: relative;
    flex: 0.6;
    margin: 15px;
    transition: flex 0.7s ease-in;
}

.testimonial h6 {
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    left: 40px;
    margin: 0;
    opacity: 0;
    color: var(--peach);
}

.testimonial p {
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    margin: 0;
    opacity: 0;
    color: var(--darkgreen);
    font-weight: 700;
}

.testimonial.active {
    flex: 3;
}

.testimonial.active h6,
.testimonial.active p {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.testimonial-img1 {
    background-image: url('https://cdn.dribbble.com/users/3585651/screenshots/9899589/frame_2_4x.png');
}

.testimonial-img2 {
    background-image: url('https://assets.materialup.com/uploads/32077f8e-c1a2-4309-ac2b-c8071853a363/preview.png');
}

.testimonial-img3 {
    background-image: url('https://creativevip.net/resource-images/12-yoga-poses-icon-illustrations-3.png');
}

.testimonial-img4 {
    background-image: url('https://cdn.dribbble.com/users/3585651/screenshots/9899644/media/184be74a205341c7ff1d6c351e6590c9.png?compress=1&resize=1200x900');
}

.testimonial-img5 {
    background-image: url('https://creativevip.net/resource-images/12-yoga-poses-icon-illustrations-4.png');
}

.panel .card-text {}

@media(max-width: 480px) {
    .panel {
        width: 100vw;
    }

    .testimonials:nth-of-type(4),
    .testimonials:nth-of-type(5) {
        display: none;
    }
}

/* -------------------- Retreat Page */

#map {
    height: 600px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.retreat {
    padding: 0;
}

.retreat h2 {
    font-weight: 900;
    margin-top: 200px;
    color: var(--darkgreen);
}

.retreat ul {
    margin-top: 50px;
    list-style: none;
    padding-top: 100px;
}

.retreat ul li {
    line-height: 2;
}

.retreat ul a {
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    color: var(--darkgreen);
}

.retreat ul a:hover {
    color: var(--orange);
}

.retreat h3 {
    font-weight: 900;
    color: var(--darkgreen);
    margin: 150px 100px 50px 0;
}

.retreat img {
    margin-left: 100px;
}

/* -------------------- Form section - Contact page */
.contact-title {
    font-size: 60px;
    color: var(--darkgreen);
    font-weight: 900;
    margin-top: 50px;
}

.form-label {
    color: var(--darkgreen);
    font-weight: 700;
}

.text-input {
    margin-bottom: 10px;
    border: 3px solid #043637;
    background-color: var(--pink);
}

.text-input:hover {
    border-color: var(--darkgreen);
    -webkit-box-shadow: 0px 3px 6px #043637, 0px 3px 6px #043637;
    box-shadow: 0px 3px 6px #043637, 0px 3px 6px #043637;
}

.form-floating:hover {
    border-color: var(--darkgreen);
    -webkit-box-shadow: 0px 3px 6px #043637, 0px 3px 6px #043637;
    box-shadow: 0px 3px 6px #043637, 0px 3px 6px #043637;
}

.form-floating {
    border: 3px solid #043637;
    background-color: var(--pink);
}

.form-floating>.form-select {
    padding-top: 24px;
    padding-bottom: 0;
}


select#floatingSelect.form-select,
textarea#floatingTextarea2.form-control {
    background-color: var(--pink);
}

/* -------------------- Cream section - Contact page */

.img3 {
    width: 100%;
    height: 500px;
    margin: 200px 0px;
}

.img4 {
    width: 100%;
    height: 500px;
    margin-left: 20px;
    margin-top: 40px;
}

.img-section1,
.img-section2 {
    padding: 0px;
}

/* -------------------- FAQ section - Contact page */
.faq-container {
    color: var(--darkgreen);
    margin: 0;
}

.faq-container h1 {
    font-size: 60px;
    color: var(--darkgreen);
    font-weight: 900;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.faq {
    border: 3px solid #043637;
    background-color: var(--lightgreen);
    max-width: 700px;
    margin: 20px 20px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
}

.faq.active {
    background-color: var(--pink);
    -webkit-box-shadow: 0px 3px 6px #043637, 0px 3px 6px #043637;
    box-shadow: 0px 3px 6px #043637, 0px 3px 6px #043637;
}

.faq.active::before {
    content: '\f086';
    font-family: 'Font Awesome 5 Free';
    color: var(--lightgreen);
    font-size: 8rem;
    position: absolute;
    top: -30px;
    z-index: 0;
    opacity: 0.3;
}

.faq-answer {
    display: none;
    margin: 30px 0 0;
}

.faq.active .faq-answer {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: var(--lightgreen);
}

/* -------------------- Footer */
footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.social-media .icon {
    font-size: 30px;
}

.counter-container {
    display: flex;
    flex-direction: column;
    margin: 70px 50px;
    justify-content: center;
    text-align: center;
}

.social-media span {
    color: var(--darkgreen);
    font-weight: 700;
}

.counter {
    font-size: 30px;
    margin-top: 10px;
    color: var(--darkgreen);
    font-weight: 900;
}

@media(max-width: 580px) {
    footer .social-media {
        flex-direction: column;
    }

    .counter {
        font-size: 30px;
    }

    .counter-container {
        margin: 10px 30px;
    }
}

@media only screen and (max-width: 540px) {
    .logo {
        left: 0;
    }

    .motto {
        left: 30px;
        bottom: 10px;
        margin-bottom: 10px;
        top: 350px;
    }

    .banner {
        margin-bottom: 70px;
    }

    .btn-begin {
        font-size: 12px;
        top: 350px;
        left: 30px;
    }

    .banner img {
        height: 300px;
        width: 200px;
        margin-left: 160px;
    }

    .menu-toggle {
        top: 2rem;
    }

    .large {
        font-size: 24px;
        margin-left: 0px;
    }

    .small {
        font-size: 14px;
    }

    .nav-left ul {
        height: 0;
        padding-left: 10px;
    }

    .nav-link.active {
        padding-left: 0;
        margin-left: 0px;
        left: 5px;
    }

    .faq-toggle {
        top: 10px;
        right: 20px;
    }

    .contact-title {
        font-size: 50px
    }

    .contact.active {
        margin-left: 0px;
        left: 5px;
    }

    .testimonial p {
        font-size: 15px;
        left: 10px;
        bottom: 40px;
    }

    .testimonial h6 {
        font-size: 12px;
        bottom: 15px;
        left: 10px;
    }

    .testimonial {
        height: 60vh;
        margin: 5px;
    }

    .img3 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .img4 {
        display: none;
    }
}

/* Media Queries */

@media screen and (max-width: 375px) {
    .img {
        min-height: 200px;
        width: 100%;
        height: auto;
    }

    .retreat img {
        margin-left: 0;
    }

    .btn-retreat {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .retreat h3 {
        margin: 100px 60px;
    }

    .logo {
        padding: 0;
        left: 0 !important;
        margin-left: 10px;
    }

    .logo h1 {
        font-size: 2.0rem;
        font-weight: 900;
    }

    /* .menu-toggle {
        left: 19rem;
    } */

    .active .nav-left {
        width: 75%;
    }

    .banner img {
        margin-left: 100px;
    }

    .motto {
        left: 0;
    }

    .testimonial {
        border-radius: 15px;
    }
}

/* Small mobile screens */

@media screen and (min-width: 375px) and (max-width: 425px) {

    .img1,
    img2 {
        min-height: 200px;
        width: 100%;
        height: auto;
    }

    .retreat img {
        margin-left: 0;
    }

    .btn-retreat {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .retreat h3 {
        margin: 20px 60px;
    }

    .logo {
        padding: 0;
        left: 0;
    }

    .logo h1 {
        font-size: 34px;
        font-weight: 900;
        padding: 12px;
    }

    .menu-toggle {
        left: 20rem;
    }

    .active .nav-left {
        width: 65%;
    }

    .retreat ul {
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .retreat ul li a {
        font-size: 14px;
    }

    #map {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .retreat h2 {
        margin-top: 200px;
        margin-bottom: 0;
    }

    .testimonial {
        border-radius: 15px;
    }
}

/* Mid mobile - Large mobile screens */
@media screen and (min-width: 426px) and (max-width: 520px) {}

/* Small tablet screens */
@media screen and (max-width: 600px) {}

@media screen and (max-width: 767px) {}


/* Tablet screens */
@media screen and (min-width: 768px) {
    .banner {
        margin-bottom: 150px;
    }

    .img1 {
        margin-left: 0 !important;
        min-height: 200px;
        width: 100%;
        height: auto;
        padding-top: 100px;
    }

    .img2 {
        margin-left: 0 !important;
        min-height: 200px;
        width: 100%;
        height: auto;
    }

    .retreat img {
        margin-left: 0px !important;
    }

    .retreat ul {
        margin-top: 0px;
        padding-left: 0;
    }

    .retreat h2 {
        margin-left: 60px;
    }

    .faq-toggle {
        right: 10px;
    }

    .active .nav-left {
        width: 75%;
    }

    .testimonial {
        border-radius: 15px;
    }
}

/* iPad Pro screens */
@media screen and (min-width: 1024px) {
    .banner {
        margin-bottom: 150px;
    }

    .img {
        margin-left: 0 !important;
        min-height: 200px;
        width: 100%;
        height: auto;
    }

    .retreat img {
        margin-left: 0px !important;
    }

    .active .nav-left {
        width: 65%;
    }

    .testimonial {
        border-radius: 15px;
    }
}